@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --appblue: #1e87f0;
  }

  body {
    @apply font-roboto tracking-wide;
  }

  .newsletter-text:hover p svg path {
    stroke: var(--appblue);
  }

  .social a:hover svg path,
  .social a:focus-visible svg path {
    stroke: var(--appblue);
  }

  .active {
    @apply text-appgreen;
  }

  .hero {
    background: url("./assets/HomepageImage.webp") center no-repeat;
  }
}
