@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --appblue: #1e87f0;
    --appgray: #c4c4c4;
  }

  body {
    @apply font-roboto tracking-wide;
    max-width: 1440px;
    margin-inline: auto;
  }

  .newsletter-text:hover p svg path {
    stroke: var(--appblue);
  }

  .social a:hover svg path,
  .social a:focus-visible svg path {
    stroke: var(--appblue);
  }

  .active {
    @apply text-appgreen;
  }

  .hero {
    background: url("./assets/HomepageImage.webp") center no-repeat;
  }

  .bg-benzene {
    background: url("./assets/bg_benzene.png") center;
    background-size: cover;
  }

  .bg-dark-benzene {
    background: url("./assets/bg_dark.png") center;
    background-size: cover;
  }

  .bg_equipment {
    background: url("./assets/bg_about.webp") center no-repeat;
    background-size: cover;
  }

  .bg-strip {
    background: url("./assets/bg-strip.png") center;
  }

  .bg-equipments {
    background: url("./assets/bgheroequipments.png") center -100px no-repeat;
  }

  .bg-about {
    background: url("./assets/bgheroabout.png") center -100px no-repeat;
  }

  .bg-contacts {
    background: url("./assets/bgherocontact.png") center center no-repeat;
  }

  .my-form input,
  .my-form textarea {
    border: 1px solid var(--appgray);
    width: 100%;
    @apply rounded px-4 py-2;
  }

  .thanks {
    @apply text-2xl font-medium text-center;
  }

  .equipActive {
    @apply text-apporange;
  }

  .dropdown {
    appearance: none;
    background: url("./assets/down.png") no-repeat right 10px center;
    background-size: 10%;
    background-color: #fff;
  }
}
